flows-ejemplo-mqtt.json
[{"id":"6181fd2a.0e7644","type":"tab","label":"Nodos MQTT y WS","disabled":false,"info":""},{"id":"34ee3d22.8f7ae2","type":"tab","label":"Página HTML","disabled":false,"info":""},{"id":"946a18bc.f5a2b8","type":"mqtt-broker","z":"","name":"RaspberryPi4","broker":"192.168.1.44","port":"5050","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"567903fb.362e3c","type":"ui_group","z":"","name":"DHT11","tab":"502415a5.ec6f3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9fb2895.02c788","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9bb8032f.b0453","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"502415a5.ec6f3c","type":"ui_tab","z":"","name":"Sensor de Humedad y Temperatura","icon":"dashboard","disabled":false,"hidden":false},{"id":"23b29b55.0524c4","type":"websocket-listener","z":"","path":"/ws/topico2","wholemsg":"false"},{"id":"89dd4d45.71595","type":"websocket-listener","z":"","path":"/ws/topico1","wholemsg":"false"},{"id":"6cd436c.5df59c8","type":"mqtt-broker","z":"","name":"Raspberry_Varg","broker":"192.168.1.124","port":"5050","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2ad39eb8.1de0a2","type":"ui_group","z":"","name":"DHT11","tab":"84431a82.1ffc68","order":1,"disp":true,"width":"6","collapse":false},{"id":"bd0ab522.6bf338","type":"websocket-listener","z":"","path":"/Ta_ws/temp_a","wholemsg":"false"},{"id":"51e8878d.11e728","type":"websocket-listener","z":"","path":"/H_ws/humedad","wholemsg":"false"},{"id":"3517fe0.6324a02","type":"ui_group","z":"","name":"Valores simulados","tab":"a6296f6e.405d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8bd21f4.6124d","type":"websocket-listener","z":"","path":"/Cf_ws/water_F","wholemsg":"false"},{"id":"500859f8.789ba8","type":"websocket-listener","z":"","path":"/Sn_ws/water_S","wholemsg":"false"},{"id":"94993ed8.c3dbe","type":"websocket-listener","z":"","path":"/Tm_ws/temp_m","wholemsg":"false"},{"id":"84431a82.1ffc68","type":"ui_tab","z":"","name":"Sensor humedad y temperatura","icon":"dashboard","disabled":false,"hidden":false},{"id":"a6296f6e.405d8","type":"ui_tab","z":"","name":"Topics","icon":"dashboard","disabled":false,"hidden":false},{"id":"c867c93a.47df48","type":"websocket-listener","z":"34ee3d22.8f7ae2","path":"/ws/temperatura","wholemsg":"false"},{"id":"4ec74fc.ddc97b","type":"comment","z":"6181fd2a.0e7644","name":"Ejemplo Mensajes MQTT y Webserver","info":"# Sensor de humedad y temperatura DHT11\nEste flow se encarga de capturar los datos de la medición del sensor y formatear esta data de tal forma que se pueda registrar sin dificultad en un archivo con extensión CSV (Comma Separated Value)","x":610,"y":40,"wires":[]},{"id":"2d07e508.b12a0a","type":"function","z":"6181fd2a.0e7644","name":"Topico1","func":"msg.payload = \"msn: \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["8745f74a.3fe2c8","7c0bc946.078068"]]},{"id":"8745f74a.3fe2c8","type":"debug","z":"6181fd2a.0e7644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":120,"wires":[]},{"id":"eae6e681.5e5ca8","type":"http response","z":"34ee3d22.8f7ae2","name":"","statusCode":"","headers":{},"x":710,"y":100,"wires":[]},{"id":"342c86b3.eb169a","type":"http in","z":"34ee3d22.8f7ae2","name":"","url":"/ejemplo-mqtt","method":"get","upload":false,"swaggerDoc":"","x":270,"y":100,"wires":[["1c0ca234.b9b46e"]]},{"id":"7c0bc946.078068","type":"websocket out","z":"6181fd2a.0e7644","name":"","server":"89dd4d45.71595","client":"","x":700,"y":160,"wires":[]},{"id":"a3a38bd7.661cc8","type":"function","z":"6181fd2a.0e7644","name":"Topico2","func":"msg.payload = \"msn: \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["21c21bc.65fd7e4","fceabeba.ad9d5"]]},{"id":"21c21bc.65fd7e4","type":"debug","z":"6181fd2a.0e7644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"fceabeba.ad9d5","type":"websocket out","z":"6181fd2a.0e7644","name":"","server":"23b29b55.0524c4","client":"","x":720,"y":260,"wires":[]},{"id":"1c0ca234.b9b46e","type":"template","z":"34ee3d22.8f7ae2","name":"HTML mensajes MQTT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"/>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n        <meta name=\"NodeRed: MQTT\" content=\"Ejemplo con WS y MQTT\"/>\n        <meta name=\"keywords\" content=\"Node, Red, MQTT, RaspberryPi\"/>\n        <title>Ejemplo Node Red</title>\n        <script>\n            var topico1;\n\t\t\tvar topico2;\n\t\t\tfunction ConectarWS() {\n\t\t\t\ttopico1 = new WebSocket(\"ws://192.168.1.106:1880/ws/topico1\");\n\t\t\t\ttopico2 = new WebSocket(\"ws://192.168.1.106:1880/ws/topico2\");\n\t\t\t    topico1.onmessage = function(msg) {\n\t\t\t\t\tvar cargar_dato1 = \"\";\n\t\t\t\t\tvar datos = msg.data;\n\t\t\t\t\tcargar_dato1 += \"<h2>\"+datos+\"</h2>\";\n\t\t\t\t\tdocument.getElementById('MQTT1').innerHTML = cargar_dato1;\n\t\t\t\t}\n\t\t\t\ttopico2.onmessage = function(msg) {\n\t\t\t\t\tvar cargar_dato2 = \"\";\n\t\t\t\t\tvar datos2 = msg.data;\n\t\t\t\t\tcargar_dato2 += \"<h2>\"+datos2+\"</h2>\";\n\t\t\t\t\tdocument.getElementById('MQTT2').innerHTML = cargar_dato2;\n\t\t\t\t}\n\t\t\t\ttopico1.onopen = function() {\n                document.getElementById('estado').innerHTML = \"Websocket: Conectado\";\n\t\t\t\t}\n\t\t\t\ttopico1.onclose = function() {\n                document.getElementById('estado').innerHTML = \"Websocket: Desconectado\";\n                setTimeout(ConectarWS,5000);\n\t\t\t\t}\n\t\t\t}\n        </script>\n    </head>\n    <body onload=\"ConectarWS();\" onunload=\"ws.close();\">\n        <h1>Ejemplo actualización de web al enviar mensajes MQTT</h1>\n        <hr/>\n        <div class=\"dashboard-ejemplo\">\n            <div id='T' class='panel'>\n                <h2>Tópico MQTT 1</h2>\n                <br>\n                <div id='MQTT1' class='Dato_1'>Esperando Lectura</div>\n            </div>\n            <div id='H' class='panel'>\n                <h2>Tópico MQTT 2</h2>\n                <br>\n                <div id='MQTT2' class='Dato_2'>Esperando Lectura</div>\n            </div>\n        </div>\n\t\t<hr/>\n\t\t<div id=\"estado\">Websocket: Desconectado</div>\n\t\t<style>\n\t\t    body {\n \t            text-align: center;\n                background-color: #9AE0E7;\n            }\n            h2 {\n \t            margin: 0px;\n            }\n\t\t\t.dashboard-ejemplo {\n\t\t\t\tmargin: auto;\n\t\t\t\tmax-width: 620px;\n\t\t\t\tdisplay: grid;\n\t\t\t\tgrid-template-columns: 1fr 1fr;\n\t\t\t\tgrid-column-gap: 20px;\n\t\t\t\tgrid-row-gap: 20px;\n\t\t\t}\n\t\t\t.dashboard-ejemplo .panel {\n\t\t\t\ttext-align: left;\n\t\t\t\tbackground-color: #ddf;\n\t\t\t\tborder: 3px solid #000000;\n\t\t\t\tpadding: 20px;\n\t\t\t}\n\t\t\t.dashboard-ejemplo .Dato_1 {\n\t\t\t    text-align: center;\n\t\t\t    color: #0011ff;\n\t\t\t}\n\t\t\t.dashboard-ejemplo .Dato_2 {\n\t\t\t    text-align: center;\n\t\t\t    color: #0011ff;\n\t\t\t}\n\t\t</style>\n    </body>\n</html>","output":"str","x":510,"y":100,"wires":[["eae6e681.5e5ca8"]]},{"id":"353cce77.7cc8a2","type":"mqtt in","z":"6181fd2a.0e7644","name":"","topic":"temp","qos":"0","datatype":"auto","broker":"946a18bc.f5a2b8","x":330,"y":120,"wires":[["2d07e508.b12a0a"]]},{"id":"8cd3608c.83796","type":"mqtt in","z":"6181fd2a.0e7644","name":"","topic":"hum","qos":"0","datatype":"auto","broker":"946a18bc.f5a2b8","x":330,"y":220,"wires":[["a3a38bd7.661cc8"]]}]